.formContainer{
    background-color: #fffff2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background-color: white;
    padding: 20px 60px;  
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #5e338e;
    width: 250px;
    outline: none;
}
.logo{
    color: #5e338e;
    font-weight: bold;
    font-size: 24px;
}
.title{
    color: #5e338e;
    font-size: 18px;
}
.signup{
    background-color: #5e338e;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.signup:hover{
    color: #5e338e;
    background-color: white;
    border: 1px solid #5e338e;
    transition: background-color 0.5s;
}
p{
    color: #5d5b8d;
    font-size: 14px;
    margin-top: 10px;
}
#avatar{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.fileUpload{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.animation{
    width: 300px;
}